body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f4f6fc;
}
header{
    background: #1f6de2;
    color:white;
    padding:20px;
    text-align: center;
}
.content{
    padding:40px;
}

button{
    padding: 10px 20px;
    background: #1f6de2;
    border:none;
    color:white;
    border-radius:6px;
    cursor:pointer;
}